:root { 
--gray_600:#727272; 
--black_900_00:#00000000; 
--black_900:#000000; 
--white_A700_89:#ffffff89; 
--bluegray_100:#d9d9d9; 
--blue_50_89:#e0eefb89; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--gray_300:#e7e6e6; 
--light_blue_900:#005797; 
--gray_100:#f3f3f3; 
}